.App {
  text-align: center;
  #quote-box{
    background-color: rgb(217, 218, 218);
    color: black;
    border-radius: 25px;
    padding: 15px;
    #text {
      font-weight: bold;
    }
    #author {
    text-align: end;
    }
    #new-quote {
    float: right;
    
    }
    #tweet-quote {
      text-decoration: none;
      float: left;
      padding-left: 15px;
    }
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}
